.avatar{
  border-radius: 35px;
  width: 35px;
  height: 35px;
  background-color: #EEE;
  display: flex;
  align-items: center;
  justify-content: center;
  &-primary{
    background-color: rgba($primary,.3);
  }
}