// COLORES
$primary: #2F82E0;
$secondary: #9A48FA;
$tertiary: #F54D7B;

$dark: #222222;
$light: #FFFF;
$grey: #999;

$grey-darken: #777;
$grey-lighten: #bbb;


//RADIO
$radius-small: 4px;
$radius: 8px;


//FUENTES
$font-size-small: .7rem;
